<h1>Welcome to CSE Motors!</h1>
<div class="hero">
    <div class="hero-content">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img class="" src="/images/site/own_today.png" alt="own">
    </div>
    <img class="my_cover" src="/images/vehicles/delorean.jpg" alt="car">
</div>
    
<section>
    <div class="first">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <div class="upgrade-img">
                <div class="contains">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Upgrade"> 
                </div>
                <p>Flux Capacitor</p>
            </div>

            <div class="upgrade-img">
                <div class="contains">
                    <img src="/images/upgrades/flame.jpg" alt="Flames Decals Upgrade">
                </div>
                <p>Flames Decals</p>
            </div>    

            <div class="upgrade-img">
                <div class="contains">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers Upgrade">
                </div>
                <p>Bumper Stickers</p>
            </div>    
            
            <div class="upgrade-img">
                <div class="contains">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <p>Hub Caps</p>
            </div>
        </div>
    </div>
    <div>
        <h2>DMC Delorean Reviews</h2>
        <div class="reviews">
            <ul>
                <li>"So fast it's almost like traveling in time". (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futurisitic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
</section>